name: Python QA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        version: "0.5.21"
    - name: Set up Python
      run: uv python install 3.10
    - name: Install dependencies
      run: |
        uv sync --group dev
    - name: Syntax check
      run: |
        uv run python -m py_compile *.py
    - name: Lint with ruff
      run: |
        uv run ruff check .
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        uv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        uv run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Lint with pylint
      run: |
        # Run pylint on all python files
        uv run pylint $(git ls-files '*.py') --disable=C,R,W --exit-zero
