name: Python QA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        version: "0.5.21"
    - name: Set up Python
      run: uv python install 3.10
    - name: Install dependencies
      run: |
        uv sync --group dev
    - name: Syntax check
      run: |
        uv run python -m py_compile $(git ls-files '*.py')
    - name: Lint with ruff
      run: |
        uv run ruff check .
    - name: Lint with flake8
      run: |
        uv run flake8 .
    - name: Lint with pylint
      run: |
        uv run pylint $(git ls-files '*.py') --exit-zero
    - name: Run unit tests
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        uv run pytest tests/
